asgiref==3.8.1
certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.1
cssselect==1.2.0
dj-rest-auth==7.0.1
Django==5.1.5
django-allauth==65.3.1
django-cors-headers==4.6.0
django-rest-auth==0.9.5
djangorestframework==3.15.2
idna==3.10
lxml==5.3.0
lxml_html_clean==0.4.1
numpy==2.2.4
pip==25.0
pybind11==2.13.6
PyMySQL==1.1.1
readability==0.3.2
readability-lxml==0.8.1
regex==2024.11.6
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
wheel==0.45.1
